# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Data
data/raw/
data/processed/

# Node / Frontend
node_modules/
dsarg7-ui/node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
# Expo / React Native
.expo/
dsarg7-ui/.expo/
